body {
    margin: 0;
    padding: 0;
    position: relative;
    padding-bottom: 18.5px;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: #44803F;
}

a:hover {
    color: #B4CF66;
}

nav {
    background-color: #FF5A33;
    border-bottom: 1px solid black;
    padding: 16px
}

nav a {
    color: white;
}

main {
    padding: 16px;
    margin-bottom: 80px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px
}

table tr:nth-child(even) {
    background-color: lightgray;
}

h1 {
    color: #146152;
}

footer {
    background-color: #B4CF66;
    padding: 24px 0px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
